@import './fonts.css';

* {
  margin: 0;
  padding: 0;
  font-family: LatoThin, sans-serif;
  color: #666d89;
  box-sizing: border-box;
}
.container {
  max-width: 980px;
  margin: 0px auto;
  padding: 60px 20px;
}
.portfolio {
  background-color: #2d303a;
  position: relative;
  z-index: 2;
  box-shadow: 0px 6px 0px #323746;
  padding-bottom: 59px;
}
.portfolio .container {
  max-height: 805px;
  overflow: hidden;
}
h1,
h2 {
  font-family: LatoBlack, sans-serif;
  font-size: 30px;
  letter-spacing: -0.2px;
}
.portfolio-description {
  font-family: LatoRegular, sans-serif;
  font-size: 18px;
  word-spacing: -0.8px;
  letter-spacing: -0.1px;
  margin-top: 22px;
  margin-left: 1px;
}
nav ul {
  display: flex;
  margin: 15px 1px 19px;
  font-size: 0.8rem;
}
nav ul li {
  list-style: none;
  border: 1px solid #666d89;
  border-radius: 5px;
  margin-right: 10px;
  padding: 2px 7px;
  transition: all 0.5s;
}
nav ul li:hover {
  cursor: pointer;
  color: #fff;
  border-color: #fff;
}
nav ul li:nth-child(4) {
  padding-right: 5px;
}
nav ul li a {
  font-family: 'LatoBold', sans-serif;
  font-size: 0.7rem;
  color: inherit;
  text-decoration: none;
  word-spacing: 1px;
}
.portfolio-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1fr 1fr 1fr;
}
.portfolio-images img {
  margin-bottom: 20px;  
}
.about {
  background-color: #f2f2f2;
  box-shadow: 0px 6px 0px #fff;
}
.about .container {
  padding-top: 65px;
  padding-bottom: 62px;
}
.about-description {
  margin: 18px 0;
  font-size: 18px;
  text-align: justify;
  line-height: 1.9rem;
  word-spacing: 1px;
  letter-spacing: 0.03px;
}
.about-people {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.human {
  width: 32%;
}
.human>img {
  width: 300px;
  height: 300px;
}
.human-info {
  margin-top: 12px;
}
.human-info h3 {
  font-family: LatoBold, sans-serif;
  word-spacing: 1px;
  letter-spacing: -0.5px;
  white-space: nowrap;
  overflow: hidden;
}
.human-info p {
  font-size: 11px;
  text-align: justify;
  word-spacing: 2px;
  font-family: LatoBold, sans-serif;
  line-height: 1.3rem;
  margin-top: 9px;
}
.human-contacts {
  margin-top: 24px;
}
.human-contacts a {
  margin-right: 2px;
}
.human-contacts a:hover {
  border-bottom: 1px solid #323746;
}